<div class="clip-path-logo6 relative w-full h-[60vh]  bg-[url('https://www.latino-news.com/wp-content/uploads/2020/11/union.jpg')] bg-cover bg-no-repeat clip-path-logo7 flex items-center justify-center flex-col gap-2 text-center">
    <h2 class="text-yellow-400 uppercase z-10 font-bold xl:text-5xl md:text-4xl sm3:text-3xl px-4">Promociones y Ofertas</h2>
    <p class="text-white z-10 px-4 ">¡Obtén tu préstamo con joyas y disfruta de beneficios exclusivos!</p>
    <div class="absolute w-full h-full bg-customAzul1/50"></div>
</div>