<div class="clip-path-logo6 relative w-full h-[60vh]  bg-[url('https://www.latino-news.com/wp-content/uploads/2020/11/union.jpg')] bg-cover bg-no-repeat clip-path-logo62 flex items-center justify-center text-white">
    <h2 class=" uppercase z-10 xl:text-[2vw] md:text-[4vw] sm3:text-[5vw] font-bold">Sobre nosotros</h2>
    <div class="absolute w-full h-full bg-customAzul1/50"></div>
</div>