<div data-aos="fade-up"
data-aos-duration="3000" class="mt-20">
    <div class="text-center text-white flex flex-col justify-center items-center h-auto py-24  -mt-14 -mb-10">
        <h1 class=" text-3xl font-bold  mb-2 uppercase">¿Quiénes somos?</h1>
        <p class="xl:mb-11 mb-5 xl:px-80 sm3:text-sm md:text-base lg:px-52   
        md:px-28  px-20  ">Somos una empresa confiable y accesible, dedicada a ofrecer soluciones financieras rápidas a través de empeños seguros y transparentes. Nos destacamos por nuestra experiencia, profesionalismo y compromiso con la satisfacción de nuestros clientes, proporcionando un servicio de calidad que prioriza la seguridad de sus pertenencias y facilita el acceso a efectivo sin afectar su historial crediticio.  
        </p>
    </div>
</div>