<div class=" h-auto text-white w-3/4 flex flex-col text-center mx-auto pb-32 ">
    <div class="bg-yellow-300  h-auto px-10 py-20 flex justify-center items-center uppercase cursor-pointer relative group">
        <h2 class=" font-semibold text-3xl group-hover:hidden">Nuestra Visión</h2>
        <p class=" group-hover:block hidden text-md ">Brindar soluciones financieras rápidas, seguras y confiables mediante la valuación y garantía de joyas, apoyando a nuestros clientes en momentos clave con transparencia y compromiso, mientras garantizamos la seguridad de sus bienes.</p>
    </div>
    <div class="bg-customAzul1 h-auto px-10 py-20 flex justify-center items-center uppercase cursor-pointer relative group">
        <h2 class="font-semibold text-3xl group-hover:hidden">Nuestra Misión</h2>
        <p class=" group-hover:block hidden text-md">Ser la empresa líder en préstamos respaldados por joyas en el mercado, reconocida por nuestra integridad, atención personalizada y procesos innovadores que satisfacen las necesidades de nuestros clientes y fortalecen su confianza.</p>
    </div>
    <div class="bg-red-600 h-auto px-10 py-20 flex justify-center items-center uppercase cursor-pointer relative group">
        <h2 class="font-semibold text-3xl group-hover:hidden">Nuestros Valores</h2>
        <p class=" group-hover:block hidden text-md">Confianza, compromiso, Ética, Excelencia, Responsabilidad</p>
    </div>
</div>