---

---

<div
  class="lg:clip-path-logo5 sm:clip-path-logo7 clip-path-logo7 relative w-full h-[60vh] bg-[url('./public/Imagenes/Servicios1.jpg')] bg-cover bg-no-repeat clip-path-logo62 flex items-center justify-center text-white"
>
  <div class="absolute inset-0 bg-black/50"></div>
  <h2 class="uppercase z-10 xl:text-[2vw] md:text-[4vw] text-[5vw] font-bold">
    Nuestros Servicios
  </h2>
  <div class="absolute w-full h-full bg-colorbanner/10"></div>
</div>
