---

---

<div class="">
  <div data-aos="fade-up"
     data-aos-duration="3000"
    class="text-center flex flex-col justify-center items-center h-[auto] pt-24 pb-24"
  >
    <h1 class="text-3xl font-bold text-doradotext mb-2 uppercase">
      Prestamos con garantía de joyas
    </h1>
    <p
      class="text-white xl:mb-11 mb-5 xl:px-80 xl:text-base lg:px-52 lg:text-sm
        md:px-28 text-sm px-20"
    >
      Nuestro servicio de préstamos respaldados por joyas te permite acceder a
      efectivo rápido y seguro sin necesidad de vender tus piezas más valiosas.
      Simplemente trae tus joyas (anillos, collares, relojes de lujo, pulseras,
      entre otros), y nuestros expertos en valoración realizarán una evaluación
      justa y transparente. Una vez determinada su autenticidad y valor,
      recibirás una oferta inmediata de préstamo con condiciones flexibles y
      tasas competitivas.
    </p>
  </div>
</div>
