---

---

<div data-aos="fade-right"
data-aos-offset="300"
data-aos-easing="ease-in-sine" class="bg-customPrincipal py-12 px-0">
  <div class="text-center mx-auto lg:px-8 sm:px-0 px-0 flex lg:flex-row sm:flex-col flex-col items-center gap-8">
   <!-- Imagen -->
   <div class="flex justify-center">
    <img src="undraw_happy_feeling_re_e76r.svg" alt="Personas felices" class="max-w-full ">
  </div>
    <!-- Contenido de texto -->
    <div data-aos="fade-up"
    data-aos-duration="3000">
      <h2 class="text-customPrincipal1-100 text-2xl lg:text-3xl font-bold mb-6">
        ¿Cómo Funciona Nuestro Proceso de Préstamo?
      </h2>
      <div class="flex lg:flex-row flex-col gap-6">
        <!-- Tarjeta 1 -->
        <div data-aos="fade-up"
        data-aos-duration="3000" class="text-center">
          <div class="flex justify-center mb-4">
            <div class="h-16 w-16 bg-orange-100 flex items-center justify-center rounded-full">
              <!-- Ícono de solicitud -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-orange-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v18m0 0l-3-3m3 3l3-3m5-5h-4m-8 0H4" />
              </svg>
            </div>
          </div>
          <h3 class="text-customPrincipal1-100 font-bold text-lg">Solicitud</h3>
          <p class="text-gray-900 text-sm mt-2">
            Solo necesitas tu teléfono, DNI, correo electrónico y una cuenta bancaria a tu nombre.
          </p>
        </div>
        <!-- Tarjeta 2 -->
        <div data-aos="fade-up"
        data-aos-duration="3000" class="text-center">
          <div class="flex justify-center mb-4">
            <div class="h-16 w-16 bg-orange-100 flex items-center justify-center rounded-full">
              <!-- Ícono de respuesta inmediata -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-orange-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 17v-6m16 6v-6m-16 6h16m-16 0v4m16-4v4M6 7l5 5M16 7l-5 5" />
              </svg>
            </div>
          </div>
          <h3 class="text-customPrincipal1-100 font-bold text-lg">Respuesta Inmediata</h3>
          <p class="text-gray-900 text-sm mt-2">
            Recibirás un mensaje de texto con la respuesta a tu solicitud al número que registraste.
          </p>
        </div>
        <!-- Tarjeta 3 -->
        <div data-aos="fade-up"
        data-aos-duration="3000" class="text-center">
          <div class="flex justify-center mb-4">
            <div class="h-16 w-16 bg-orange-100 flex items-center justify-center rounded-full">
              <!-- Ícono de desembolso -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-orange-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a4 4 0 00-8 0v2m8 0v6m0 0H7m8 0a4 4 0 11-8 0m8 0h6M6 7h4m-4 0h4" />
              </svg>
            </div>
          </div>
          <h3 class="text-customPrincipal1-100 font-bold text-lg">Desembolso 100% Online</h3>
          <p class="text-gray-900 text-sm mt-2">
            El monto aprobado se transferirá a tu cuenta de ahorros.
          </p>
        </div>
      </div>
    </div>
    
  </div>
</div>


