---

---

<div class="py-16">
  <div class="text-center mb-8">
    <h2 class="text-3xl font-semibold text-white">¿Qué necesito?</h2>
  </div>

  <!-- Contenedor principal responsivo -->
  <div class="flex flex-wrap items-center justify-center gap-4 lg:gap-6">
    <!-- Paso 1 -->
    <div class="flex flex-col items-center">
      <div
        class="w-16 h-16 flex items-center justify-center bg-white text-blue-900 font-bold rounded-full text-2xl"
      >
        1
      </div>
      <p class="text-white mt-4 text-sm text-center">Joyas desde 2k</p>
    </div>

    <!-- Línea punteada -->
    <div class="w-12 border-t-2 border-dashed border-white"></div>

    <!-- Paso 2 -->
    <div class="flex flex-col items-center">
      <div
        class="w-16 h-16 flex items-center justify-center bg-white text-blue-900 font-bold rounded-full text-2xl"
      >
        2
      </div>
      <p class="text-white mt-4 text-sm text-center">DNI</p>
    </div>

    <!-- Línea punteada -->
    <div class="w-12 border-t-2 border-dashed border-white"></div>

    <!-- Paso 3 -->
    <div class="flex flex-col items-center">
      <div
        class="w-16 h-16 flex items-center justify-center bg-white text-blue-900 font-bold rounded-full text-2xl"
      >
        3
      </div>
      <p class="text-white mt-4 text-sm text-center">Ser mayor de 18 años</p>
    </div>

    <!-- Línea punteada -->
    <div class="w-12 border-t-2 border-dashed border-white"></div>

    <!-- Paso 4 -->
    <div class="flex flex-col items-center">
      <div
        class="w-16 h-16 flex items-center justify-center bg-white text-blue-900 font-bold rounded-full text-2xl"
      >
        4
      </div>
      <p class="text-white mt-4 text-sm text-center">
        Tener buen historial crediticio
      </p>
    </div>

    <!-- Línea punteada -->
    <div class="w-12 border-t-2 border-dashed border-white"></div>

    <!-- Paso 5 -->
    <div class="flex flex-col items-center">
      <div
        class="w-16 h-16 flex items-center justify-center bg-white text-blue-900 font-bold rounded-full text-2xl"
      >
        5
      </div>
      <p class="text-white mt-4 text-sm text-center">Joyas desde 2k</p>
    </div>
  </div>
</div>
