---
import Layout from "../layouts/Layout.astro";
import "../styles/input.css";
import "../styles/output.css";
---

<Layout title="Nosotros">
    <div class="h-[500px] bg-slate-50 ">
        <h1>hola mundo</h1>
    </div>
</Layout>