---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import Pasos from "../components/Pasos.astro"
import Beneficios from "../components/Beneficios.astro";
import Testimonios from "../components/Testimonios.astro"
import Faq from "../components/Faq.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<Banner />
		<!-- Sección de Pasos -->
		<Pasos />
		<!--seccion beneficios -->
		<Beneficios />
		<!-- Sección de Testimonios -->
		<Testimonios />
		<!-- Sección de Preguntas Frecuentes -->
		<Faq />
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
