---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import Pasos from "../components/Pasos.astro";
import Pasos from "../components/Pasos.astro";
import Beneficios from "../components/Beneficios.astro";
import Testimonios from "../components/Testimonios.astro";
import Faq from "../components/Faq.astro";
import Testimonios from "../components/Testimonios.astro";
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
import "../styles/input.css";
import "../styles/output.css";
import "../styles/input.css";
import "../styles/output.css";
import Nosotros from "../components/Nosotros.astro";
---

<Layout title="Casa-De-Emepe침os">
  <main>
    <Banner />
    <Nosotros />
    <!-- Secci칩n de Pasos -->
    <Pasos />
    <!--seccion beneficios -->
    <Beneficios />
    <!-- Secci칩n de Testimonios -->
    <Testimonios />
    <!-- Secci칩n de Preguntas Frecuentes -->
    <Faq />
    <!--Footer -->
  </main>
</Layout>
