---
import Layout from "../layouts/Layout.astro";
import "../styles/input.css";
import "../styles/output.css";
---

<Layout title="Nosotros">
<<<<<<< HEAD
    
=======
    <div class="w-80 bg-amber-200">
        AQUI VA TODO EL CONTENIDO
    </div>
>>>>>>> c06f8d2 (estructuración de paginas)
</Layout>