---
import BannerPromocionesYOfertas from "@/components/PromocionesYOfertas/BannerPromocionesYOfertas.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/input.css";
import "../styles/output.css";
import PromoOfertas from "@/components/PromocionesYOfertas/PromoOfertas.astro";
---

<Layout title="Nosotros">
    <main class="bg-white">
        <BannerPromocionesYOfertas />
        <PromoOfertas /> 
    </main>    
     
</Layout>