---

---

<!--Contenedor de la imagen-->
<div
class=" nueva_clase relative h-[600px] overflow-hidden bg-[url('../../public/Imagenes/imagen4.png')] bg-cover bg-[50%] bg-no-repeat"
></div>

<style>
    .nueva-clase{
        margin-top: -200px
    }
</style>