---
---
<style>
    .accordion-active {
    @apply text-customAzul;
}

.accordion-inactive {
    @apply text-white;
}
</style>

<script>
   const accordionHeader = document.querySelectorAll(".accordion-header");

accordionHeader.forEach((header) => {
    header.addEventListener("click", () => {
        const accordionBody = header.nextElementSibling;
        const accordionContainer = header.parentElement;
        const icon = header.querySelector(".accordion-icon");
        const questionText = header.querySelector("span.text-white, span.text-customAzul"); // Seleccionar ambos colores posibles

        header.classList.toggle("active");

        if (header.classList.contains("active")) {
            accordionBody.style.maxHeight = accordionBody.scrollHeight + "px";                   
            accordionContainer.classList.add("border", "border-customAzul");
            accordionContainer.classList.add("bg-transparent");
            accordionContainer.classList.remove("bg-customAzul");

            icon.innerHTML =
                '<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0F2F76"><path d="M200-440v-80h560v80H200Z"/></svg>';

            // Cambiar texto a azul
            questionText.classList.remove("accordion-inactive");
            questionText.classList.add("accordion-active");
        } else {
            accordionBody.style.maxHeight = 0;
            accordionContainer.classList.remove("border", "border-customAzul");
            accordionContainer.classList.add("bg-customAzul");
            accordionContainer.classList.remove("bg-transparent");

            icon.innerHTML =
                '<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>';

            // Cambiar texto a blanco
            questionText.classList.remove("accordion-active");
            questionText.classList.add("accordion-inactive");
        }
    });
});

</script>


<div class="lg:h-[auto] lg:p-6 text-customPrincipal">
    <div data-aos="fade-up"
    data-aos-anchor-placement="top-bottom" class="lg:pl-28 lg:text-left text-center">
        <h1 class="inline-block text-center font-semibold text-3xl mb-10 mt-10 p-5 border-b-2 border-customPrincipal ">Preguntas Frecuentes</h1>
    </div>
        

        <div class="max-w-screen-lg mx-auto px-5 accordion-space ">
           <div data-aos="fade-up"
           data-aos-anchor-placement="top-bottom" class="rounded-xl border-1 bg-customAzul">
            <div class="accordion-header flex items-center justify-start gap-2">
                <span class="accordion-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                </span>
<!-- <i class="bx bx-chevron-down text-3xl"></i> -->
                
                <span data-aos="fade-up"
                data-aos-anchor-placement="top-bottom" class="font-semibold text-lg" >¿Qué tipos de Joyas puedo utilizar como garantia?<span>
                    
            </div>

                <div class="accordion-body text-customAzul ">
                    <div data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom" class="p-4 pl-20">
                        <p class="text-white border-customAzul border-l pl-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam vitae accusamus autem. Ipsum ad nostrum illo, omnis voluptates quas a asperiores vitae iusto ratione atque reiciendis similique numquam nemo pariatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque nulla, magnam minus totam reiciendis quis alias sed sunt et cum voluptate assumenda itaque omnis excepturi obcaecati iste consequatur suscipit.</p>
                        
                    </div>
                </div>

            </div>
        </div>

        <div class="max-w-screen-lg mx-auto px-5 accordion-space ">
            <div data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" class="rounded-xl border-1 bg-customAzul">
             <div class="accordion-header flex items-center justify-start gap-2">
                 <span class="accordion-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                 </span>
 <!-- <i class="bx bx-chevron-down text-3xl"></i> -->
                 
                 <span data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom" class="font-semibold text-lg" >¿Cuanto tiempo tengo de garantía?<span>
                     
             </div>
 
                 <div class="accordion-body text-customAzul ">
                     <div data-aos="fade-up"
                     data-aos-anchor-placement="top-bottom" class="p-4 pl-20">
                         <p class="text-white border-customAzul border-l pl-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam vitae accusamus autem. Ipsum ad nostrum illo, omnis voluptates quas a asperiores vitae iusto ratione atque reiciendis similique numquam nemo pariatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque nulla, magnam minus totam reiciendis quis alias sed sunt et cum voluptate assumenda itaque omnis excepturi obcaecati iste consequatur suscipit.</p>
                         
                     </div>
                 </div>
 
             </div>
         </div>

         <div class="max-w-screen-lg mx-auto px-5 accordion-space ">
            <div data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" class="rounded-xl border-1 bg-customAzul">
             <div class="accordion-header flex items-center justify-start gap-2">
                 <span class="accordion-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                 </span>
 <!-- <i class="bx bx-chevron-down text-3xl"></i> -->
                 
                 <span data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom" class="font-semibold text-lg" >¿Qué ocurre si quiero retirar mis joyas antes de terminar el plazo del préstamo?<span>
                     
             </div>
 
                 <div class="accordion-body text-customAzul ">
                     <div data-aos="fade-up"
                     data-aos-anchor-placement="top-bottom" class="p-4 pl-20">
                         <p class="text-white border-customAzul border-l pl-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam vitae accusamus autem. Ipsum ad nostrum illo, omnis voluptates quas a asperiores vitae iusto ratione atque reiciendis similique numquam nemo pariatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque nulla, magnam minus totam reiciendis quis alias sed sunt et cum voluptate assumenda itaque omnis excepturi obcaecati iste consequatur suscipit.</p>
                         
                     </div>
                 </div>
 
             </div>
         </div>

         <div class="max-w-screen-lg mx-auto px-5 accordion-space ">
            <div data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" class="rounded-xl border-1 bg-customAzul">
             <div class="accordion-header flex items-center justify-start gap-2">
                 <span class="accordion-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                 </span>
 <!-- <i class="bx bx-chevron-down text-3xl"></i> -->
                 
                 <span data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom" class="font-semibold text-lg" >¿Es seguro dejar mis joyas en custodia?<span>
                     
             </div>
 
                 <div class="accordion-body text-customAzul ">
                     <div data-aos="fade-up"
                     data-aos-anchor-placement="top-bottom" class="p-4 pl-20">
                         <p class="text-white border-customAzul border-l pl-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam vitae accusamus autem. Ipsum ad nostrum illo, omnis voluptates quas a asperiores vitae iusto ratione atque reiciendis similique numquam nemo pariatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque nulla, magnam minus totam reiciendis quis alias sed sunt et cum voluptate assumenda itaque omnis excepturi obcaecati iste consequatur suscipit.</p>
                         
                     </div>
                 </div>
 
             </div>
         </div>

         <div class="max-w-screen-lg mx-auto px-5 accordion-space ">
            <div data-aos="fade-up"
            data-aos-anchor-placement="top-bottom"class="rounded-xl border-1 bg-customAzul">
             <div class="accordion-header flex items-center justify-start gap-2">
                 <span class="accordion-icon">
                     <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                 </span>
 <!-- <i class="bx bx-chevron-down text-3xl"></i> -->
                 
                 <span data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom" class="font-semibold text-lg" >¿Que pasa si no puedo pagar el préstamo a tiempo?<span>
                     
             </div>
 
                 <div  class="accordion-body text-customAzul ">
                     <div data-aos="fade-up"
                     data-aos-anchor-placement="top-bottom" class="p-4 pl-20">
                         <p class="text-white border-customAzul border-l pl-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam vitae accusamus autem. Ipsum ad nostrum illo, omnis voluptates quas a asperiores vitae iusto ratione atque reiciendis similique numquam nemo pariatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque nulla, magnam minus totam reiciendis quis alias sed sunt et cum voluptate assumenda itaque omnis excepturi obcaecati iste consequatur suscipit.</p>
                         
                     </div>
                 </div>
 
             </div>
         </div>
        
</div> 