---

---

<footer>
    <div class="flex bg-customAzul1 h-[35rem] pt-20">
      <!--Lado izquierdo-->
      <div class="w-2/5">
        <div class="h-24 mt-4 mb-4 ml-8 mr-48">
          <img
            src="Imagenes/joya6.jpg"
            alt="Descripción"
            class="h-24 w-96 object-cover"
          />
        </div>

        <div class="mt-1 mb-1 ml-8 mr-48">
          <h6
            class="mb-1 flex items-center justify-center font-semibold md:justify-start text-doradotext"
          >
            Dirección
          </h6>
          <p class="text-white">
            ubicacion exacta del lugar de establecimiento.
          </p>
        </div>
        <div class="mt-1 mb-1 ml-8 mr-48">
          <h6
            class="mb-1 flex items-center justify-center font-semibold md:justify-start text-doradotext"
          >
            Horario de atención
          </h6>
          <p class="text-white">Lunes a Viernes de 8.30 am a 6:00pm</p>
        </div>
        <div class="mt-1 mb-1 ml-8 mr-48">
          <h6
            class="mb-1 flex items-center justify-center font-semibold md:justify-start text-doradotext"
          >
            Telefono de contacto
          </h6>
          <p class="text-white">+51 978781880</p>
          <p class="text-white">+51 978781880</p>
        </div>
      </div>

      <!--Lado derecho-->

      <div class="w-3/5">
        <!-- Contenedor superior que ocupa todo el ancho izquierdo y derecho-->
        <div class="flex flex-row h-1/2">
          <!-- Contenedor superior lado izquiero-->
          <div class="w-1/2">
            <div class="mt-4 mb-2 ml-16 mr-48">
              <h6
                class="mb-1 flex items-center justify-center font-semibold md:justify-start text-doradotext"
              >
                Explora
              </h6>
              <div class="flex flex-col space-y-0.5">
                <a href="" class="text-white hover:underline">Inicio</a>
                <a href="" class="text-white hover:underline"
                  >Sobre Nosotros</a
                >
                <a href="" class="text-white hover:underline"
                  >Nuestros Servicios</a
                >
                <a href="" class="text-white hover:underline">Promociones</a>
                <a href="" class="text-white hover:underline"
                  >Planes de Pago</a
                >
              </div>
            </div>
          </div>
          <!-- Contenedor superior lado derecho-->
          <div class="w-1/2">
            <div class="mt-4 mb-2 ml-8 mr-48">
              <h6
                class="mb-1 flex items-center justify-center font-semibold md:justify-start text-doradotext"
              >
                Documentation Legal
              </h6>
              <div class="flex flex-col space-y-0.5">
                <a href="" class="text-white hover:underline"
                  >Politicas de seguridad</a
                >
                <a href="" class="text-white hover:underline"
                  >Politicas de privacidad</a
                >
                <a href="" class="text-white hover:underline"
                  >Terminos y condiciones</a
                >
                <a href="" class="text-white hover:underline"
                  >Libro de reclamaciones</a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Contenedor inferior ocupando todo el ancho -->
        <div class="border-t-2 border-customDorado w-3/4 h-1/2 ml-16">
          <div class="mr-2 mt-8">
            <!-- Título -->
            <h6 class="mb-4 font-semibold text-doradotext">Síguenos</h6>
            <!-- Redes sociales -->
            <div class="flex space-x-4">
              <!-- Icono de Facebook -->
              <a
                href="https://www.facebook.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <div
                  class="flex items-center justify-center w-10 h-10 bg-white rounded-full"
                >
                  <i class="fab fa-facebook-f text-customAzul1"></i>
                </div>
              </a>
              <!-- Icono de Instagram -->
              <a
                href="https://www.instagram.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <div
                  class="flex items-center justify-center w-10 h-10 bg-white rounded-full"
                >
                  <i class="fab fa-instagram text-customAzul1"></i>
                </div>
              </a>
              <!-- Icono de WhatsApp -->
              <a
                href="https://wa.me/1234567890"
                target="_blank"
                rel="noopener noreferrer"
              >
                <div
                  class="flex items-center justify-center w-10 h-10 bg-green-500 rounded-full"
                >
                  <i class="fab fa-whatsapp text-white"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>