<header>
  <!-- Contenedor del Navigation bar -->
  <div class="relative w-full bg-customAzul1 h-16">
    <nav
      class="flex flex-wrap items-center justify-between px-4 py-2 lg:py-2 h-16"
    >
      <!-- Logo -->
      <div class="w-1/3 lg:w-1/4 flex items-center justify-center">
        <a href="#" class="flex items-center">
          <img
            src="Imagenes/joyeria3.jpeg"
            alt="Logo"
            class="h-12 w-60 lg:h-12 lg:w-[23rem]"
            loading="lazy"
          />
        </a>
      </div>

      <!-- Links de Navegación (pantallas grandes) -->
      <div class="hidden lg:flex w-2/3 lg:w-1/2 justify-center space-x-16">
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Nosotros</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Servicios</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Beneficios</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Promociones</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Ubícanos</a
        >
      </div>

      <!-- Botón Contáctanos (pantallas grandes) -->
      <div class="hidden lg:block w-1/4 text-center">
        <button
          class="bg-customDorado hover:bg-white text-white hover:text-customDorado font-bold py-2 px-6 rounded-full"
        >
          Contáctanos
        </button>
      </div>

      <!-- Menú Hamburguesa (pantallas pequeñas) -->
      <div class="block lg:hidden">
        <button class="mr-10 text-white text-2xl" id="menu-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </nav>

    <!-- Menú Colapsable (pantallas pequeñas) -->
    <div class="lg:hidden hidden" id="menu-mobile">
      <div class="flex flex-col items-center space-y-2 py-4">
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Nosotros</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Servicios</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Beneficios</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Promociones</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Ubícanos</a
        >
        <button
          class="bg-customDorado hover:bg-white text-white hover:text-customDorado font-bold py-2 px-6 rounded-full"
        >
          Contáctanos
        </button>
      </div>
    </div>
  </div>
</header>
