---

---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 50) {
        // Cambiar a color sólido sin opacidad
        header.classList.remove("bg-opacity-50");
        header.classList.add("bg-opacity-100");
      } else {
        // Volver al estado inicial con opacidad
        header.classList.remove("bg-opacity-100");
        header.classList.add("bg-opacity-50");
      }
    });
  });
</script>

<header
  id="header"
  class="fixed w-full z-10 bg-customAzul3 bg-opacity-50 transition-colors duration-300 h-20"
>
  <!-- Contenedor del Navigation bar -->
  <div class="relative w-full h-full">
    <nav class="flex items-center justify-between h-full">
      <!-- Logo -->
      <div
        class="bg-customDorado clip-path-logo6 w-1/3 lg:w-1/3 flex items-center justify-center h-full"
      >
        <a href="#" class="flex h-full">
          <img
            src="Imagenes/joyeria3.jpeg"
            alt="Logo"
            class="object-contain h-full max-h-16 lg:max-h-20"
            loading="lazy"
          />
        </a>
      </div>

      <!-- Links de Navegación (pantallas grandes) -->
      <div
        class="hidden lg:flex flex-1 justify-center items-center space-x-8 px-8"
      >
        <a
          href="#"
          class="text-vwCinco font-medium text-white hover:text-customDorado"
          >NOSOTROS</a
        >
        <a
          href="#"
          class="text-vwCinco font-medium text-white hover:text-customDorado"
          >SERVICIOS</a
        >
        <a
          href="#"
          class="text-vwCinco font-medium text-white hover:text-customDorado"
          >BENEFICIOS</a
        >
        <a
          href="#"
          class="text-vwCinco font-medium text-white hover:text-customDorado"
          >PROMOCIONES</a
        >
        <a
          href="#"
          class="text-vwCinco font-medium text-white hover:text-customDorado"
          >UBÍCANOS</a
        >
      </div>

      <!-- Botón Contáctanos (pantallas grandes) -->
      <div class="hidden lg:block text-center px-4">
        <button
          class="bg-customDorado hover:bg-white text-white hover:text-customDorado font-bold py-2 px-6 rounded-full"
        >
          CONTÁCTANOS
        </button>
      </div>

      <!-- Menú Hamburguesa (pantallas pequeñas) -->
      <div class="lg:hidden">
        <button class="text-white text-2xl" id="menu-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </nav>

    <!-- Menú Colapsable (pantallas pequeñas) -->
    <div class="lg:hidden hidden" id="menu-mobile">
      <div class="flex flex-col items-center space-y-2 py-4">
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Nosotros</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Servicios</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Beneficios</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Promociones</a
        >
        <a
          href="#"
          class="text-lg font-medium text-white hover:text-customDorado"
          >Ubícanos</a
        >
        <button
          class="bg-customDorado hover:bg-white text-white hover:text-customDorado font-bold py-2 px-6 rounded-full"
        >
          Contáctanos
        </button>
      </div>
    </div>
  </div>
</header>
