---
---

<header>
    <!-- Contenedor del Navigation bar -->
    <div class="relative w-full bg-nabvar h-20">
      <nav
        class="flex flex-wrap items-center justify-center py-2 lg:py-4 h-16"
      >
        <div class="flex items-center justify-center flex-col lg:flex-row">
          <div>
            <a
              class="mb-0 mx-36 mt-0 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:mt-0 clip-path-logo"
              href="#"
            >
              <img
                src="../../public/Imagenes/joyeria3.jpeg"
                style="height: 50px; width: 200px"
                loading="lazy"
              />
            </a>
          </div>
          <div>
            <a
              href="#"
              class="text-xl font-medium text-white hover:text-customDorado mx-5"
              >Nosotros</a
            >
            <a
              href="#"
              class="text-xl font-medium text-white hover:text-customDorado mx-5"
              >Servicios</a
            >
            <a
              href="#"
              class="text-xl font-medium text-white hover:text-customDorado mx-5"
              >Beneficios</a
            >
            <a
              href="#"
              class="text-xl font-medium text-white hover:text-customDorado mx-5"
              >Promociones</a
            >
            <a
              href="#"
              class="text-xl font-medium text-white hover:text-customDorado mx-5"
              >Ubicanos</a
            >
          </div>

          <div>
            <button
              class="bg-customDorado hover:bg-white text-white hover:text-customDorado font-bold py-2 px-8 rounded-full mx-36"
            >
              Contactanos
            </button>
          </div>
        </div>
      </nav>
    </div>
    <!--Contenedor de la imagen-->
    <div
      class="relative h-[600px] overflow-hidden bg-[url('../../public/Imagenes/imagen4.png')] bg-cover bg-[50%] bg-no-repeat"
    ></div>
</header>