---

---

<header id="header" class="fixed w-full z-10 bg-customPrincipal h-20">
  <!-- Contenedor del Navigation bar -->
  <div class="relative w-full h-full">
    <nav class="flex items-center justify-between h-full px-4">
      <!-- Logo -->
      <div class="bg-customPrincipal clip-path-logo6 w-1/3 lg:w-1/3 flex items-center justify-center h-full">
        <a href="/" class="flex h-full">
          <img
            src="Imagenes/LOGO_PAISA.png"
            alt="Logo"
            class="object-contain h-full max-h-18 lg:max-h-20"
            loading="lazy"
          />
        </a>
      </div>

      <!-- Links de Navegación (pantallas grandes) -->
      <div class="hidden lg:flex flex-1 justify-center items-center space-x-8 px-8">
        <a
          href="/nosotros"
          class="text-base font-medium text-customnav hover:text-customPrincipal1 transform hover:scale-110 transition duration-300 ease-in-out"
        >
          NOSOTROS
        </a>
        <a
          href="/servicios"
          class="text-base font-medium text-customnav hover:text-customPrincipal1 transform hover:scale-110 transition duration-300 ease-in-out"
        >
          SERVICIOS
        </a>
        <a
          href="beneficios"
          class="text-base font-medium text-customnav hover:text-customPrincipal1 transform hover:scale-110 transition duration-300 ease-in-out"
        >
          BENEFICIOS
        </a>
        <a
          href="promociones"
          class="text-base font-medium text-customnav hover:text-customPrincipal1 transform hover:scale-110 transition duration-300 ease-in-out"
        >
          PROMOCIONES
        </a>
        
      </div>

      <!-- Botón Contáctanos (pantallas grandes) -->
      <div class="hidden lg:block text-center px-4">
        <button 
          class="bg-customPrincipal1 hover:bg-white text-white hover:text-customPrincipal1 font-bold py-2 px-6 rounded-full transform hover:scale-110 transition duration-300 ease-in-out"
          onclick="window.location.href='/contactanos'"
        >
          CONTÁCTANOS
        </button>
      </div>
      

      <!-- Menú Hamburguesa (pantallas pequeñas) -->
      <div class="lg:hidden">
        <button class="text-customPrincipal1 text-2xl" id="menu-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </nav>

    <!-- Menú Colapsable (pantallas pequeñas) -->
    <div class="lg:hidden hidden" id="menu-mobile">
      <div class="flex flex-col items-center space-y-4 py-4 bg-customPrincipal">
        <a
          href="/nosotros"
          class="text-lg font-medium text-black hover:text-customPrincipal1 transform hover:scale-110 transition duration-300 ease-in-out"
        >
          NOSOTROS
        </a>
        <a
          href="/servicios"
          class="text-lg font-medium text-black hover:text-customPrincipal1 transform hover:scale-110 transition duration-300 ease-in-out"
        >
          SERVICIOS
        </a>
        <a
          href="/beneficios"
          class="text-lg font-medium text-black hover:text-customPrincipal1 transform hover:scale-110 transition duration-300 ease-in-out"
        >
          BENEFICIOS
        </a>
        <a
          href="/promociones"
          class="text-lg font-medium text-black hover:text-customPrincipal1 transform hover:scale-110 transition duration-300 ease-in-out"
        >
          PROMOCIONES
        </a>
        
        <button
          class="bg-customPrincipal1 hover:bg-white text-white hover:text-customDorado font-bold py-2 px-6 rounded-full transform hover:scale-110 transition duration-300 ease-in-out" 
          onclick="window.location.href='/contactanos'"
          >
          CONTÁCTANOS
        </button>
      </div>
    </div>
  </div>
</header>


<!-- JavaScript para el menú hamburguesa -->
<script>
  const menuToggle = document.getElementById('menu-toggle');
  const menuMobile = document.getElementById('menu-mobile');

  menuToggle.addEventListener('click', () => {
    menuMobile.classList.toggle('hidden');
  });
</script>


