---

---

<div class="text-white flex lg:flex-row flex-col  lg:justify-around lg:items-start items-center ">
    <div class="w-auto hidden lg:block my-auto ">
        <img class="max-w-96 " src="https://cdn-icons-png.flaticon.com/512/13079/13079825.png" alt="">
    </div> 
    <div class="flex flex-col w-1/2 ">
        <div class=" mb-7 text-center">
            <h2 class="text-4xl font-bold ">Tu préstamo fácil y al toque</h2>
            <p class="text-xl">Solo debes seguir los siguientes pasos</p>
            <div class="w-auto flex justify-center">
                <svg class="lg:hidden" xmlns="http://www.w3.org/2000/svg" height="10rem" viewBox="0 -960 960 960" width="10rem" fill="#D9AA46 "><path d="M480-360 280-560h400L480-360Z"/></svg>
            </div>
            
        </div > 

        <div class="flex flex-col sm:grid grid-cols-autofit1 repeatTail gap-11 mt-10 text-center h-auto mb-8 ">
            <div class=" px-6 pt-2 pb-9 text-xl relative before:w-10 before:h-10 before:bg-customDorado before:content-['1'] before:text-center
            before:-top-8 before:left-[50%] before:transform before:-translate-x-[50%] before:absolute before:rounded-full
            bg-[#185DB0]  rounded-xl before:flex before:justify-center before:text-[#185DB0] before:items-center before:text-[1.3rem] before:font-bold shadow">
            
            <div class="">
                <p class="pt-6 px-1 ">Acércate a nuestra sucursal con tus joyas de oro, plata o piedras preciosas. Nuestro equipo de expertos las evaluará al instante para ofrecerte el mejor valor del mercado.</p> 
            </div>
                
            </div>
            
            <div class=" px-6 pt-2 pb-9  text-xl relative before:w-10 before:h-10 before:bg-customDorado before:content-['2'] before:text-center 
            before:-top-8 before:left-[50%] before:transform before:-translate-x-[50%]  before:absolute before:rounded-full  bg-[#185DB0] rounded-xl before:flex before:justify-center before:items-center before:text-2xl before:text-[#185DB0] before:text-[1.3rem] before:font-bold  shadow">
                <p  class="pt-6 px-1">En pocos minutos, te presentaremos una oferta personalizada basada en el valor de tus joyas. Si aceptas, firmamos el acuerdo y definimos el plazo del préstamo.</p>
            </div>
            <div class=" px-6 pt-2 pb-9  text-xl relative before:w-10 before:h-10 before:bg-customDorado before:content-['3'] before:text-center 
            before:-top-8 before:left-[50%] before:transform before:-translate-x-[50%]  before:absolute before:rounded-full bg-[#185DB0]  rounded-xl before:flex before:justify-center before:items-center before:text-2xl before:text-[#185DB0] before:text-[1.3rem] before:font-bold shadow">
                <p class="pt-6 px-1">Recibe el efectivo en el momento y sin complicaciones. Tus joyas estarán protegidas y custodiadas en nuestras bóvedas hasta que decidas retirarlas al finalizar el plazo del préstamo.</p>
            </div>
        </div>
            
        </div>
    </div>
</div>