---

---

<div class="bg-white h-[55rem] flex flex-col justify-center items-center">
    <div>
        <h2 class="text-4xl font-bold mb-8 border-b border-blue-700 p-5">Testimonios</h2>
        <img src="" alt="">
    </div>
    <div class="flex items-center justify-center flex-col gap-8 px-32 shadow-lg mx-20">
        <p>"Necesitaba un préstamo rápido para cubrir una emergencia médica y no quería afectar mi historial crediticio. Gracias a Casa_De_Empeños_Piura, pude obtener el dinero que necesitaba de manera rápida y segura, utilizando mis anillos de compromiso como garantía. ¡Muy recomendable!"</p>
        <img class="clip-path-logo4 max-w-96 mb-4" src="https://pymstatic.com/5844/conversions/personas-emocionales-wide_webp.webp" alt="">
    </div>
 </div>
