<div
  class="clip-path-servicios relative w-full h-[60vh] bg-[url('./public/Imagenes/Servicios1.jpg')] bg-cover bg-no-repeat clip-path-logo62 flex items-center justify-center text-white"
>
  <h2 class="uppercase z-10 xl:text-[2vw] md:text-[4vw] text-[5vw] font-bold">
    DESCUBRE TUS BENEFICIOS
  </h2>
  <div class="absolute w-full h-full bg-black/50"></div>
</div>
