---

---

<div class="flex flex-col items-center py-10 bg-gray-50">
  <h2 class="text-2xl sm:text-3xl font-bold text-cyan-800 text-center mb-6">
    Beneficios para nuestros prestamos
  </h2>

  <!-- Grid de beneficios -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 px-4 sm:px-8 lg:px-16"
  >
    <!-- Beneficio 1 -->
    <div class="flex flex-col items-center text-center">
      <img
        src="/public/Imagenes/Moneda.gif"
        alt="Mejora tu Infocorp"
        class="w-[50px] h-[50px] mb-4"
      />
      <p class="text-neutral-950 font-semibold">
        <strong>Efectivo Rapido</strong>
        <br />
        Permite obtener dinero de forma inmediata y sin trámites complejos.
      </p>
    </div>

    <!-- Beneficio 2 -->
    <div class="flex flex-col items-center text-center">
      <img
        src="/public/Imagenes/Historial.gif"
        alt="Préstamos rápidos"
        class="w-[50px] h-[50px] mb-4"
      />
      <p class="text-neutral-950 font-semibold">
        <strong>Sin Afectar Historial</strong>
        <br />
        El préstamo en la casa de empeño no tiene impacto en el historial crediticio
        del cliente
      </p>
    </div>

    <!-- Beneficio 3 -->
    <div class="flex flex-col items-center text-center">
      <img
        src="/public/Imagenes/Pagos.gif"
        alt="Aprobación inmediata"
        class="w-[50px] h-[50px] mb-4"
      />
      <p class="text-neutral-950 font-semibold">
        <strong>Pagos Flexibles</strong>
        <br />
        Facil acceso al préstamo sin mayores requisitos
      </p>
    </div>

    <!-- Beneficio 4 -->
    <div class="flex flex-col items-center text-center">
      <img
        src="/public/Imagenes/Credito.gif"
        alt="Sin papeleos"
        class="w-[50px] h-[50px] mb-4"
      />
      <p class="text-neutral-950 font-semibold">
        <strong>Aval Sin Credito</strong>
        <br />
        Permite obtener dinero de forma inmediata y sin trámites complejos.
      </p>
    </div>

    <!-- Beneficio 5 -->
    <div class="flex flex-col items-center text-center">
      <img
        src="/public/Imagenes/Seguridad.gif"
        alt="Pagos anticipados"
        class="w-[50px] h-[50px] mb-4"
      />
      <p class="text-neutral-950 font-semibold">
        <strong>Seguridad En Joyas</strong>
        <br />
        Resguardamos los artículos en instalaciones seguras y bajo vigilancia
      </p>
    </div>

    <!-- Beneficio 6 -->
    <div class="flex flex-col items-center text-center">
      <img
        src="/public/Imagenes/Tasas.gif"
        alt="Extensión de plazos"
        class="w-[50px] h-[50px] mb-4"
      />
      <p class="text-neutral-950 font-semibold">
        <strong>Tasas Claras</strong>
        <br />
        Informa claramente las tasas y costos, ayudando a los clientes a tomar una
        mejor desición
      </p>
    </div>
  </div>
</div>
