---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	</head>
	<body class="bg-gradient-to-r from-customPrincipal1 to-customAzul min-h-screen bg-no-repeat">
		<Header />
		<main>
		  <slot />
		</main>
		<Footer />
	  </body>
	    <!-- Script de AOS con defer -->
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>

		<!-- Inicialización de AOS en un bloque script -->
		<script>
		  document.addEventListener("DOMContentLoaded", function () {
			// Asegurarse de que AOS se haya cargado correctamente
			if (typeof AOS !== "undefined") {
			  AOS.init();
			} else {
			  console.error("AOS no se ha cargado correctamente.");
			}
		  });
		</script> 
</html>
