<div class="lg:clip-path-logo5 sm:clip-path-logo7 clip-path-logo7 relative w-full h-[60vh]  bg-[url('https://www.latino-news.com/wp-content/uploads/2020/11/union.jpg')] bg-cover bg-no-repeat clip-path-logo7 flex items-center justify-center flex-col gap-2 text-center">
    <div class="absolute inset-0 bg-black/50"></div>
    <h2 class="text-white  z-10 font-bold xl:text-5xl md:text-4xl sm3:text-3xl px-4">CONTÁCTANOS</h2>
    <div class="absolute w-full h-full bg-customAzul1/50"></div>
</div>