<div class="h-[50vh] flex flex-col justify-center items-center">
    <div>
       <h3 class="text-customDorado font-semibold text-4xl px-6 text-center">Siguenos en todas nuestras redes sociales</h3>
    </div>
    <div class="flex gap-12 pt-20">
           <a href="https://pe.linkedin.com/" target="_blank" class="relative flex justify-center items-center">
               <div class="absolute bg-white w-28 h-28 rounded-full  "></div>
               <img class="w-20 relative " src="https://cdn-icons-png.flaticon.com/512/15281/15281507.png" alt="">
           </a>
       
           <a href="https://www.facebook.com/" target="_blank" class="relative flex justify-center items-center">
               <div class="absolute bg-white w-28 h-28 rounded-full  "></div>
               <img class="w-20 relative " src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png" alt="">
           </a>
       
           <a href="https://instagram.com" target="_blank" class="relative flex justify-center items-center">
               <div class="absolute bg-white w-28 h-28 rounded-full  "></div>
               <img class="w-20 relative " src="https://cdn-icons-png.flaticon.com/512/717/717392.png" alt="">
           </a>
       
    </div>
</div>