<div class="h-[50vh] flex bg-white md:flex-row sm3:flex-col md:items-start md:justify-start sm3:items-center sm3:justify-center">
                
    <iframe class="md:w-2/3 md:h-full sm3:w-full sm3:h-3/4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d993.3708100423114!2d-80.64331546899473!3d-5.186447551576225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x904a1a9a8e71f6e7%3A0x9628688447161e28!2sAparcamiento%2C%20Av.%20S%C3%A1nchez%20Cerro%2C%20Piura%2020001!5e0!3m2!1ses-419!2spe!4v1734120460251!5m2!1ses-419!2spe"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
        <div class="px-12 md:my-auto  md:py-12 sm3:py-4 sm3:h-auto sm3:text-center md:text-left">
            <h3 class="text-red-600  font-bold text-3xl  pb-1 ">Ubicanos aquí</h3>
            <p class="pb-6 text-xl font-semibold">Estamos a un click de distancia</p>
            <div>
                <img src="" alt="">
                <p class="text-xl font-semibold">Jiron Callao 375 - Piura</p>
            </div>
            <div>
                <img src="" alt="">
                <p class="text-xl font-semibold">casaempeños@gmail.com</p>
            </div>
            <div>
                <img src="" alt="">
                <p class="text-xl font-semibold">978781880 - 969657831</p>
            </div>
        </div>
    
</div>